section {
  padding: 6rem 8rem;
  box-sizing: border-box;
}

.back {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 11rem;
  padding: 0.8rem 3rem;
  margin-bottom: 6.5rem;
  border: none;
  color: var(--color-primary);
  background-color: var(--color-mode-elements);
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0 5px 1px rgba($color-light-mode-text, 0.2);

  .arrow-icon {
    width: 1.4rem;
    height: 1.4rem;
    fill: var(--color-primary);
  }
}

.back:hover {
  transform: translateY(-1px) translateX(-1px);

  transition: all 0.15s;
}

.back:active {
  transform: translateY(1px) translateX(1px);
}

.clicked__country {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  &__img {
    width: 40%;
    height: 35rem;
    object-fit: cover;
  }

  &__data {
    width: 50%;

    div {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: column;

      span {
        margin-left: 3px;
      }
    }

    > p {
      margin-top: 6.5rem;
      span {
        margin-left: 1rem;
      }
    }
  }

  &__name {
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-weight: 800;
  }

  &__row {
    margin-bottom: 0.5rem;
    margin-top: 0;
    font-weight: 600;
    display: flex;
  }

  &__row span {
    display: inline-block;
    max-width: 75%;
    font-weight: 300;
    color: var(--color-mode-input);
  }

  .border__countries {
    font-size: inherit;
    font-weight: 300;
    padding: 0.5rem 2rem;
    margin-bottom: 0.5rem;
    border: none;
    color: var(--color-mode-input);
    background-color: var(--color-mode-elements);
    border-radius: 0.2rem;
    cursor: pointer;
    box-shadow: 0 0 5px 1px rgba($color-light-mode-text, 0.2);

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .border__countries:hover {
    background-color: var(--color-border-hover);
    transition: all 0.2s;
  }
  .border__countries:active {
    background-color: var(--color-mode-elements);
    transition: all 0.2s;
  }
}

footer {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: flex-end;
  font-weight: 700;
  padding: 1rem;

  a {
    text-decoration: none;
    color: cadetblue;
    padding-left: 3px;
  }

  a:hover {
    text-decoration: underline cadetblue solid;
  }
}
